name: 'Check homework submission before grading'

on:
  workflow_dispatch:
  push:

jobs:
  check-homework:
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Set up Python 3.9 environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nbconvert==7.9 ipython biopython Pillow
      
      - name: Checkout Actions Repository
        uses: actions/checkout@v4
        with:
          repository: IB-ULFRI/homework-actions
          path: ./homework-actions

      - name: Check Syntax
        uses: ./homework-actions/action-notebook-syntax

      - name: Explicit variables
        uses: ./homework-actions/action-explicit-variables
        with:
          args: >
            bacteria_threshold
            bacteria_comments
            covid_threshold
            transmembrane_candidates
            transmembrane_comments
            virus_size_comments
        
      - name: Notebook and helper_functions files present
        uses: ./homework-actions/action-files-present

      - name: Helper_functions compiles
        uses: ./homework-actions/action-helper-compiles

      - name: Check Images visible
        uses: ./homework-actions/action-images-white